body{
    background-color: #d9cfc1;
}
a:hover{
color : #76877d;
}
.navbar{
    background-color:  #670502;
}
.nav-item{
    color : #d9cfc1;
    font-family: verdana;
    text-decoration: none !important;
}
p{
    font-family: verdana;
}
h1{
    text-align: center;
    color: #670502 !important;
    font-size: 10vh !important;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}
h2{
    text-align: center;
    color: #76877d!important;
}
.img-thumbnail{
display: inline-block !important;
}
.caption-text{
    font-size: 70%;
}
#video{
  text-align: center;
}
.form{
    width: 50%;
}
li{
    margin-left: 5%;
}